name: flutter_application_10
description: A simple personal expense tracker

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  hive: ^2.2.3
  hive_flutter: ^1.1.0
  provider: ^6.0.5
  flutter_colorpicker: ^1.0.3
  intl: ^0.18.1

  

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
  hive_generator: ^1.1.0
  build_runner: ^2.3.0

flutter:
  uses-material-design: true